<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui, viewport-fit=cover">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <!-- Color theme for statusbar (Android only) -->
    <meta name="theme-color" content="#2196f3">
    <!-- Your app title -->
    <title>Home Automation</title>
    <!-- Path to Framework7 Library CSS Bundle -->
    <link rel="stylesheet" href="/css/framework7.bundle[% ( settings.environment == 'production' or settings.environment == 'test' ) ? '.min' : '' %].css"/>
    <link rel="stylesheet" href="/css/framework7-icons.css">
    <!-- Path to your custom app styles-->
    <link rel="stylesheet" href="[% request.uri_base %]/css/autohome.css" />
  </head>
<body>

[% content %]

  <script type="text/javascript" src="/javascripts/vue[% ( settings.environment == 'production' or settings.environment == 'test' ) ? '.min' : '' %].js"></script>
  <script type="text/javascript" src="/javascripts/framework7-lite.bundle[% ( settings.environment == 'production' or settings.environment == 'test' ) ? '.min' : '' %].js"></script>
  <script type="text/javascript" src="/javascripts/framework7-vue.bundle[% ( settings.environment == 'production' or settings.environment == 'test' ) ? '.min' : '' %].js"></script>
  <script type="text/javascript" src="/javascripts/autohome[% ( settings.environment == 'production' or settings.environment == 'test' ) ? '.min' : '' %].js"></script>
</body>
</html>

